.navigation{
  background-color: $primaryColor;
  color: $white;
  height: 10vh;

  display: flex;

  .nav_link{
    height: 100%;
    cursor: pointer;
    flex: 1;

    &:hover{
      background-color: darken($primaryColor, 5%);
    }

    a{
      @extend .center;
      flex-direction: row;
      width: 100%;
      height: 100%;

      &>svg{
        margin-left: .5rem;
      }
    }
  }
}